progress {
  background-color: #ddd;
  height: 1rem;
  border-radius: 1rem;
}

progress::-webkit-progress-value {
  background-color: var(--progress-bar-fill);
}

progress::-moz-progress-bar {
  background-color: var(--progress-bar-fill);
}
